<div id="side-peek-layer" aria-hidden="true">
  <figure class="peek left peek-l1" data-rot="-5" data-off="96"><img src="{{ '/assets/placeholders/photo-01.svg' | relative_url }}" alt=""></figure>
  <figure class="peek left peek-l2" data-rot="3"  data-off="98"><img src="{{ '/assets/placeholders/photo-02.svg' | relative_url }}" alt=""></figure>
  <figure class="peek left peek-l3" data-rot="-4" data-off="94"><img src="{{ '/assets/placeholders/photo-03.svg' | relative_url }}" alt=""></figure>
  <figure class="peek right peek-r1" data-rot="5"  data-off="96"><img src="{{ '/assets/placeholders/photo-04.svg' | relative_url }}" alt=""></figure>
  <figure class="peek right peek-r2" data-rot="-3" data-off="98"><img src="{{ '/assets/placeholders/photo-05.svg' | relative_url }}" alt=""></figure>
  <figure class="peek right peek-r3" data-rot="6"  data-off="94"><img src="{{ '/assets/placeholders/photo-06.svg' | relative_url }}" alt=""></figure>
</div>
